{% extends "base.html" %}
{% load static %}
{% block title %}Ссылка на восстановление пароля отправлена{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock %}
{% block content %}
<main class="main container">
  <h1 class="main__title">Ссылка на восстановление пароля отправлена</h1>
  <div class="custom-center-block">
    <p class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.<br>
    Возможно оно улетело в спам.</p>
      <div class="custom-button-block">
          <a class="button button_style_blue" href="{% url 'index' %}">
            Перейти на главную
          </a>
      </div>
  </div>
</main>
{% endblock %} 